<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      About 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="warning">
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size-md="9">
          <!-- Konten Kolom Pertama -->
          
            
              <ion-card-header>
                <ion-card-title color="secondary">
                  ABOUT
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list><p>Biodata:</p></ion-list>
                  
                  <p><strong>Nama:</strong>KHOMARIAH</p>
                  <p><strong>Status:</strong> Mahasiswa</p>
                 
                  <p><strong>Jenis Kelamin:</strong>Perempuan</p>
                  <p><strong>Alamat:</strong> Kisaran</p>
                </ion-card-content>
          
        </ion-col>
        <ion-col size-md="1">
          <!-- Konten Kolom Kedua dengan Foto Responsif -->
          
            <ion-card-content class="profile-image">
              <img src="assets/icon/khomariah.jpeg" alt="Foto Profil">
            </ion-card-content>
          
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card>
    <ion-card>
      <ion-header>
        <ion-toolbar>
        <ion-title color="secondary">PENDIDIKAN</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>SD Negeri 015903 Binjai Serbangan</h2>
          <h2>MTs.Alwashliyah Binjai Serbangan</h2>
          <h2>SMK Negeri 1 Kisaran</h2>
          <h2>Institut Teknologi dan Bisnis Indonesia Medan</h2>
        </ion-label>
      </ion-item>


      
      <ion-item>
        <ion-label>
          <ion-header>
            <ion-toolbar>
            <ion-title color="secondary">CONTACT PERSON</ion-title>
          </ion-toolbar>
        </ion-header>

          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-icon name="logo-instagram"slot="start"></ion-icon>
                Ria_Albanjari05
              </ion-item>
              <ion-item>
                <ion-icon name="logo-facebook"slot="start"></ion-icon>
                Ria_Albanjari
              </ion-item>
              <ion-item>
                <ion-icon name="logo-whatsapp"slot="start"></ion-icon>
                085276648872
              </ion-item>
  

   
  
      
    
  
  
      
      
        
  
  
    