<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>

      <ion-card-title color="light">PERPUSTAKAAN</ion-card-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="warning">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HOME</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>
      <div class="ion-text-center">
      <h1>Selamat Datang Di BPerpus</h1>
      </div>
      </ion-label>
     </ion-item>

     <div class="ion-text-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Kata Sambutan BPerpus</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>Selamat datang BPerpus.Kami sangat senang bisa menyambut Anda di tempat yang sarat dengan pengetahuan dan inspirasi ini
        Perpustakaan bukan hanya sekadar ruang yang penuh dengan buku, tetapi juga adalah pusat intelektualitas dan pengembangan diri. Kami berkomitmen untuk menyediakan sumber daya yang berkualitas, merangkul keberagaman minat, dan memberikan layanan yang ramah dan membantu kepada setiap pengunjung.</p> 
      
    </ion-card-content>
  </ion-card>
  </div>

        <div class="ion-text-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Kelebihan BPerpus</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>Akses ke Informasi Berkualitas</p> 
      <p>Koleksi yang Beragam</p>
      <p>Tempat Belajar dan Penelitian</p>
      <p>Fasilitas Teknologi dan Akses Internet</p>
      <p>Program Pendidikan dan Kegiatan Budaya</p>
      <p>Pusat Komunitas</p>
      <p>Pembangunan Keterampilan</p>
      <p>Penting bagi Pendidikan</p>
    </ion-card-content>
  </ion-card>
  </div>

          <ion-card>
    <div class="ion-text-center">
    <img alt="Silhouette of mountains" src="assets/images/imagee.jpg" class="thumbnail" />
    <ion-card-header>
      <ion-card-title>Berikut adalah buku-buku perpustakaan</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

  </div>
</ion-card>

    <ion-content class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-img src="assets/images/image1.jpg"class="thumbnail"></ion-img>
        </ion-col>
      <ion-col size="3">
        <ion-img src="assets/images/image2.jpg" class="thumbnail"></ion-img>
      </ion-col>
      <ion-col size="3">
        <ion-img src="assets/images/image3.jpg" class="thumbnail"></ion-img>
      </ion-col>
      <ion-col size="3">
        <ion-img src="assets/images/image4.jpg" class="thumbnail"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  

     <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-img src="assets/images/image5.jpg"class="thumbnail"></ion-img>
        </ion-col>
      <ion-col size="3">
        <ion-img src="assets/images/image6.jpg" class="thumbnail"></ion-img>
      </ion-col>
      <ion-col size="3">
        <ion-img src="assets/images/image7.jpg" class="thumbnail"></ion-img>
      </ion-col>
      <ion-col size="3">
        <ion-img src="assets/images/image8.jpg" class="thumbnail"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
  

  </ion-content>  
        